@import "./variables";
.parallax{
    width: 100%;
    height:10vh;
    background: url(../assets/parallax4.webp);
    background-size: 100% 200%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow:hidden;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    & a{
      display:flex;
      
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 10px;
      width: 150px;
      text-align: center;
      text-decoration: none;
      background:#000 ;
      color: #fff;
     
    }
    & a:hover{
      background:rgb(131, 0, 0) ;
    }
  }
  a.parahov:hover{
    font-size: 20px;
  }
  @media screen and (max-width:320px)  
  {
    .parallax{
      width: 100%;
      height:5vh;
      background-size: 100% 80%;
    }
  
  
  }
  @media screen and (max-width:768px)  
  {
    .parallax{
      width: 100%;
      height:5vh;
      background-size: 100% 150%;
    }
   
  
  }
  @media screen and (min-width:1024px)  
  {
    .parallax{
      width: 100%;
      height:8vh;
    }
    
    .parallax a{
      padding: 10px;
      width: 200px;
      font-size: 32px;
     }
  
  }
